@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  color: white;
}

body {
  background-image: url(../public/eddy-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.redirect--button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75px;
  width: 250px;
  background-color: rgba(154, 224, 54, 1);
  box-shadow: 0px 10px rgba(21, 68, 41, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.redirect--text {
  color: black;
  font-weight: 700;
  font-size: 24px;
}

.card--container {
  width: 350px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card--container:hover > .card--element {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card--element {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front, .back {
  height: 100%;
  width: 100%;
  background-color: #0C0C0C;
  border: 1px solid rgba(154, 224, 54, .16);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 80px 12px rgba(154, 224, 54, 0.12);
  position: absolute;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.card--border {
  width: 85%;
  height: 90%;
  border: 1px solid rgba(154, 224, 54, 0.8);
}

.front--content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back--title {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding-left: 24px;
  padding-top: 24px;
}

.title--text {
  font-weight: 700;
}

.back--description {
  padding-top: 24px;
  padding-left: 24px;
}

.back--description h4 {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.64);
  font-size: 14px;
  line-height: 18px;
}

.zetachain--p {
  color: rgba(154, 224, 54, 0.88);
}

.back--stats {
  padding-top: 28px;
  padding-left: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}

.stats--number {
  color: #9AE036;
  font-size: 24px;
  font-weight: 700;
}

.stats--title {
  font-size: 12px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.90);
}

.stats--divider {
  height: 40px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.back--pointers {
  padding-left: 24px;
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.back--pointers h4 {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}

.pointers--highlight {
  color: #9AE036;
}

@media (max-width: 600px) {
  .card--container {
    width: 250px;
    height: 350px;
  }

  .back--title {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding-left: 12px;
    padding-top: 12px;
  }
  
  .title--text {
    font-size: 16px;
    font-weight: 700;
  }
  
  .back--description {
    padding-top: 20px;
    padding-left: 12px;
  }
  
  .back--description h4 {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.64);
    font-size: 10px;
    line-height: 12px;
  }
  
  .back--stats {
    padding-top: 20px;
    padding-left: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
  
  .stats--number {
    color: #9AE036;
    font-size: 16px;
    font-weight: 700;
  }
  
  .stats--title {
    font-size: 10px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.90);
  }
  
  .stats--divider {
    height: 40px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .back--pointers {
    padding-left: 12px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .back--pointers h4 {
    font-size: 10px;
    font-weight: 300;
    color: #ffffff;
  }

}